{% extends 'base.html' %}

{% block content %}

<h1 align="center">Вся наша техника</h1>

{% if computerisation_technicals %}
<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th scope="col">Цена</th>
              <th scope="col">Описание</th>
            </tr>
          </thead>
          <tbody>
            {% for computerisation_technical in computerisation_technicals %}
                <tr>
                    <td scope="row"><a href={{computerisation_technical.link}}>{{computerisation_technical.price}}</a></td>
                    <td>{{computerisation_technical.description}}</td>
                </tr>
            {% endfor %}

          </tbody>
        </table>
    </div>
</div>
{% else %}
    <h2>К сожалению продаж нет</h2>
{% endif %}

{% endblock %}